<div class="mt-4">
    <h3>Tạo mới khóa học</h3>
    <form method="post" action="/product/store">
        <div class="form-group">
            <label for="name-id">Name</label>
            <input type="text" class="form-control" id="name-id" name="title" >
        </div>
        <div class="form-group">
            <label for="Description-id">Description</label>
            <input type="text" class="form-control" id="Description-id" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>